<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Sigma\CustomForm\Api\Data\FormInterface" type="Sigma\CustomForm\Model\Form" />

    <virtualType name="Sigma\CustomForm\Model\ResourceModel\Form\Form\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">custom_contactus_form</argument>
            <argument name="resourceModel" xsi:type="string">Sigma\CustomForm\Model\ResourceModel\Form</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="grid_record_grid_list_data_source" xsi:type="string">Sigma\CustomForm\Model\ResourceModel\Form\Form\Collection</item>
            </argument>
        </arguments>
    </type>
</config>
