<li id="shipping-comment" class="checkout-shipping-comment">
    <div class="step-title" data-role="title" data-bind="text: setCommentTitle()">
    </div>
    <div data-role="content">
        <form class="form form-comment">
            <div class="field">
                <div class="control">
                    <textarea class="input-text" name="shipping_comment" rows="4" data-bind="value: setCommentDescription()"></textarea>
                </div>
            </div>
        </form>
    </div>
</li>
