<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <type name="Magento\Catalog\Model\Product">
        <plugin name="custom_catalog_attribute" type="Sigma\ProductMaterial\Plugin\Catalog\Model\Product"/>
    </type>
</config>
