<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="checkout" translate="label" sortOrder="10">
            <label>Checkout Comment Configuration</label>
        </tab>
        <section id="order_info_field" translate="label" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Order Info Field</label>
            <tab>checkout</tab>
            <resource>Sigma_OrderComment::OrderComment</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Order Comment Field Configuration</label>
                <field id="display_title" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Set Field Title</label>
                </field>
                <field id="display_description" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Set Field description</label>
                </field>
            </group>
        </section>
    </system>
</config>
