<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="sigma" translate="label" sortOrder="100">
            <label>Sigma</label>
        </tab>
        <section id="sigma_freeshippingbar" translate="label" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
            <label>Free Shipping Bar Configuration</label>
            <tab>sigma</tab>
            <resource>Sigma_FreeShippingBar::general</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Settings</label>
                <field id="enable_disable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable/Disable Free Shipping</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="free_shipping_cutoff" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Free Shipping Cutoff</label>
                    <validate>validate-number</validate>
                </field>
            </group>
        </section>
    </system>
</config>
